
@font-face {
	font-family: MonacoBI;
	src: url(../fonts/MonacoB-Bold-Italic.otf);
}

body {
	justify-content: center;
}

p {
	font-family: serif;
	font-size: 1em;
}

.highlight pre {
	font-family: MonacoBI, monospace;
	font-size: 0.8em;
}

blockquote {
	font-size: 1em;
	font-style: italic;
}
